/* body  {
    background-color: rgb(57, 60, 65);
} */

.page {
    display: none;
    position: absolute;
    margin: auto;
    inset: 0;
    height: 65vh;
    width: 50vw;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}

#close {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    width: 2vw;
    height: 2vh;
    background-color: red;
    color: white;
    border: none;
    user-select: none;
}
#close:hover {
    cursor: pointer;
    background-color: rgb(156, 156, 156);
}

#manage {
    position: absolute;
    margin: auto;
    top: 0;
    right: 2vw;
    width: 4vw;
    height: 2vh;
    background-color: rgb(42, 114, 182);
    color: white;
    border: none;
    user-select: none;
}
#manage:hover {
    cursor: pointer;
    background-color: rgb(156, 156, 156);
}

.properties {
    height: 100%;
    width: 30%;
    border-right: solid;
    border-width: 5px;
    border-color: goldenrod;
    overflow-y: scroll;
    overflow-x: hidden;
}
.property {
    margin: 5% auto 0 auto;
    height: auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    overflow: hidden;
}
.info {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    width: 69.5%;
    height: 100%;
}

.propertyImageContainer {
    position: relative;
    width: 100%;
    height: 63%;
    overflow: hidden;
}
.propertyImage {
    position: relative;
    top: 0;
    width: 100%;
    scale: 105%;
    transition: 0.3s;
    user-select: none;
    -webkit-user-drag: none;
}
.propertyImage:hover {
    transition: 0.3s;
    cursor: pointer;
    scale: 120%;
}
.propertyLocation {
    margin: 2% 0 2% 5%;
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
}
.propertyPrice {
    display: inline-block;
    margin: 0 0 0 5%;
    width: 70%;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.propertyBuy {
    position: relative;
    margin: 0.5vh auto;
    right: 0;
    bottom: 0;
    height: 2.25vh;
    width: 20%;
    border-radius: 5px;
    border: none;
    color: rgba(255, 255, 255, 0.8);
    background-color: green;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    font-family: Arial, Helvetica, sans-serif;
    transition: color 0.3s;
    user-select: none;
}
.propertyBuy:hover {
    transition: 0.5s;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.buyConfirmation, .buySuccessful, .buyFailed, .info-empty {
    display: none;
    position: relative;
    margin: auto;
    top: 25%;
    width: 100%;
}
.buyText {
    font-size: 1.3rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.buyCon {
    position: relative;
    margin: auto;
    left: 39%;
    height: 3vh;
    width: 10%;
    border: none;
    border-radius: 7px;
    color: rgba(255, 255, 255, 0.8);
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    transition: color 0.3s;
}
.buyCan {
    position: relative;
    margin: auto;
    left: 40%;
    height: 3vh;
    width: 10%;
    border: none;
    border-radius: 7px;
    color: rgba(255, 255, 255, 0.8);
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    transition: color 0.3s;
}
.buyReturn {
    position: relative;
    margin: auto;
    left: 43.5%;
    height: 3vh;
    width: 12%;
    border: none;
    border-radius: 7px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgb(7, 107, 201);
    font-family: Arial, Helvetica, sans-serif;
    transition: color 0.3s;
}
.buyCan:hover, .buyCon:hover, .buyReturn:hover {
    transition: 0.5s;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.buyInfo, .info-manage {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.buyInfo-bigImage {
    position: absolute;
    margin: auto;
    top: 5%;
    right: 0;
    left: 0;
    width: 80%;
    transition: 0.15s;
    user-select: none;
    -webkit-user-drag: none;
}
.buyInfo-images {
    display: grid;
    position: relative;
    margin: auto;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    height: 10%;

    justify-content: center;
    align-content: center;
    gap: 2%;
    grid-auto-flow: column;
    grid-template-rows: 1;
    
    overflow-y: hidden;
    overflow-x: auto;
}
.buyInfo-imagesImage {
    width: 5vw;
    opacity: 0.6;
    transition: opacity 0.3s;
    user-select: none;
    -webkit-user-drag: none;
}
.buyInfo-imagesImage:hover {
    transition: opacity 0.3s;
    cursor: pointer;
    opacity: 1;
}
.buyInfo-desc {
    position: absolute;
    margin: auto;
    top: 65%;
    left: 0;
    right: 0;
    width: 75%;
    height: 32%;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    overflow-y: auto;
}

.line {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 100%);
    height: 3px;
    width: 95%;
    border: none;
    border-radius: 2vh;

}

.manageAccessAdd {
    position: relative;
    margin: 0;
    top: 9%;
    right: 0%;
    width: 15%;
    height: 6%;
    border-radius: 10px;
    background-color: green;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    outline: none;
    border: none;
    transition: opacity 0.3s;
}
.manageAccessAdd:hover {
    transition: opacity 0.3s;
    opacity: 0.8;
    cursor: pointer;
}
.inputAccess {
    position: relative;
    top: 9%;
    margin: 0 1% 0 3%;
    width: 77.2%;
    height: 6%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    outline: none;
    border: none;
}
.info-hasAccess {
    position: relative;
    padding: 2% 0;
    top: 11%;
    margin: 0 3%;
    width: 94%;
    height: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.accessUser {
    margin: 1% 3%;
    width: 94%;
    height: 10%;
    background-color: rgb(46, 51, 63);
    border-radius: 10px;
}
.accessUser-name {
    display: inline;
    position: relative;
    left: 3%;
    top: 30%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 70%;
}
.accessUser-remove {
    display: inline;
    position: relative;
    float: right;
    right: 2%;
    top: 20%;
    height: 60%;
    width: 10%;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: red;
    transition: opacity 0.3s;
}
.accessUser-remove:hover {
    transition: opacity 0.3s;
    opacity: 0.8;
    cursor: pointer;
}
.manageAccessText {
    position: relative;
    margin: auto;
    top: 5%;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.manageAccessLine {
    position: relative;
    margin: auto;
    top: 7%;
}
.manageSaleText {
    position: relative;
    margin: auto;
    top: 14%;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.manageSaleLine {
    position: relative;
    margin: auto;
    top: 16%;
}